ops/workflows/n8n-compose/workflows/shopmate_monitoring.json
{
  "name": "shopmate_monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1-4 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        208
      ],
      "id": "c0eb0e0d-535a-48a9-ad2e-d2c8eb9cf149",
      "name": "Schedule Trigger",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\nif (\n  data.length === 1 &&\n  Object.keys(data[0].json).length === 0\n) {\n  return {\n    message: \"✅ 미전송 건수 없음\"\n  };\n}\n\n// 많은 순 정렬 (선택)\ndata.sort((a, b) => b.json.total_cnt - a.json.total_cnt);\n\nlet output = \"🚨 미전송 건수\\n\\n\";\n\ndata.forEach(d => {\n  const { pwn_nm, total_cnt } = d.json;\n\n  output += `${pwn_nm} → ${Number(total_cnt).toLocaleString()}건\\n`;\n});\n\nreturn {\n  message: output\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        208
      ],
      "id": "8d683af2-91fe-4f85-89e7-e5867c9db016",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wh.jandi.com/connect-api/webhook/28640498/c4204effff2b34ff8fbc6fa31606b40a",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.tosslab.jandi-v2+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $input.item.json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        0
      ],
      "id": "f5593096-b6c3-464e-8d56-71344ba0d32d",
      "name": "Send Message 1.0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wh.jandi.com/connect-api/webhook/28640498/00d07b6df0edc68d9dfaa3c269877df7",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.tosslab.jandi-v2+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $input.item.json.message }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        208
      ],
      "id": "68965b3d-dce8-4d64-81a2-e049ab5c5bf6",
      "name": "Send Message 2.0"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()\n\nif (\n  data.length === 1 &&\n  Object.keys(data[0].json).length === 0\n) {\n  return { message: \"모든 화주사 미전송 건수 0건\" };\n}\n\nconst NAME_PADDING = 4;\nconst COUNT_PADDING = 4;\n\nconst HEADER_NAME = \"화주사\";\nconst HEADER_COUNT = \"미전송 건수\";\n\nfunction getDisplayWidth(str) {\n  return [...str].reduce((w, ch) => {\n    if (ch.match(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/)) return w + 2;\n    return w + 1;\n  }, 0);\n}\n\n// 최대 길이 계산\nconst maxNameLength = Math.max(\n  getDisplayWidth(HEADER_NAME),\n  ...data.map(d => getDisplayWidth(d.json.pwn_nm))\n);\n\nconst maxCountLength = Math.max(\n  getDisplayWidth(HEADER_COUNT),\n  ...data.map(d => getDisplayWidth(String(d.json.cnt)))\n);\n\n// WIDTH 산정\nconst NAME_WIDTH = maxNameLength + NAME_PADDING;\nconst COUNT_WIDTH = maxCountLength + COUNT_PADDING;\nconst TOTAL_WIDTH = NAME_WIDTH + COUNT_WIDTH;\n\n// 출력\nlet output = \"\";\noutput += HEADER_NAME.padEnd(NAME_WIDTH - getDisplayWidth(HEADER_NAME)) + HEADER_COUNT.padStart(COUNT_WIDTH) + \"\\n\";\noutput += \"-\".repeat(TOTAL_WIDTH) + \"\\n\\n\";\n\ndata.forEach(d => {\n  const { pwn_nm, cnt } = d.json;\n\n  output +=\n    pwn_nm.padEnd(NAME_WIDTH - getDisplayWidth(pwn_nm)) +\n    String(cnt).padStart(COUNT_WIDTH) +\n    \"\\n\";\n});\n\nreturn { message: output };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "ab26deed-480a-4acc-9285-8a695a4f323c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select   su.rs_company as pwn_nm,\n  su.scnt as cnt\n  from \n(select rs_company, count(rs_company) scnt from sw_sm_order a LEFT JOIN sw_sm_reseller ssr ON a.rs_id = ssr.rs_id  where m_rs_id ='RS-0000000051'\nand a.shipping_due_date >= date(now())\nand a.shipping_due_date < date(now() + interval 1 day)\nand a.exp_start_date = '0000-00-00 00:00:00'\nand a.od_claim_type = ''\ngroup by ssr.rs_company  ) su ;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        0
      ],
      "id": "787f79e9-43fe-4472-8dfb-2915c90477fc",
      "name": "Shopmate 1.0 DB",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "pRKEMRn2mHsZYnIk",
          "name": "Shopmate 2.0 Prd"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT      \n  oom.depot_cd,\n  wdm2.depot_nm,\n  oom.pwn_cd,\n  opm.pwn_nm,\n  SUM(CASE WHEN oom.invoice_transf_yn = 'N' THEN 1 ELSE 0 END) AS total_cnt\nFROM        om_order_m oom\nLEFT JOIN   wm_depot_m wdm2\nON          wdm2.depot_cd = oom.depot_cd\nLEFT JOIN   om_pwn_m opm\nON          opm.pwn_cd = oom.pwn_cd\nWHERE       oom.mall_acc_sno IS NOT NULL\n  AND         oom.mall_cd = 'MAL00038'\n  AND         (oom.gift_yn != 'Y' OR oom.gift_yn IS NULL)\n  AND         oom.od_state = '01'\n  AND         oom.claim_hv_yn = 'N'\n  AND         oom.reg_type = '03'\n  AND         oom.dlvr_div_cd ='03'\n  AND         EXISTS (\n  SELECT 1\n  FROM wm_out_m wom\n  WHERE wom.od_sno = oom.od_sno\n  )\nAND oom.reg_dtm >= '{{ $json.start_dtm }}'\nAND oom.reg_dtm <  '{{ $json.end_dtm }}'\nGROUP by oom.depot_cd, oom.pwn_cd\nORDER by oom.depot_cd, oom.pwn_cd",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        304,
        208
      ],
      "id": "8839f357-597e-4775-af18-c5e189e9d166",
      "name": "Shopmate 2.0 DB",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "pRKEMRn2mHsZYnIk",
          "name": "Shopmate 2.0 Prd"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 3 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        16
      ],
      "id": "25912fd7-4043-454e-8cc1-a2f0469843d5",
      "name": "Schedule Trigger1",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"Asia/Seoul\" }));\n\nconst hour = now.getHours();\n\nlet baseDate = new Date(now);\n\nif (hour < 6) {\n  baseDate.setDate(baseDate.getDate() - 1);\n}\n\nbaseDate.setHours(0, 0, 0, 0);\n\nconst nextDate = new Date(baseDate);\nnextDate.setDate(nextDate.getDate() + 1);\n\nfunction format(date) {\n  return date.toISOString().slice(0, 19).replace('T', ' ');\n}\n\nreturn [\n  {\n    json: {\n      now,\n      start_dtm: format(baseDate),\n      end_dtm: format(nextDate)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        208
      ],
      "id": "3028c942-b524-4214-9b92-c56ef0e59441",
      "name": "Resolve Base Date"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Resolve Base Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "Shopmate 1.0 DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send Message 2.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send Message 1.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopmate 1.0 DB": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopmate 2.0 DB": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Shopmate 1.0 DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resolve Base Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Base Date": {
      "main": [
        [
          {
            "node": "Shopmate 2.0 DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4f4d5658-b23c-4b6c-8974-79751ccdfdb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3a09e257e20a7168dd6af89fa2dda53f1668443a49b9ee33663271b5bfcf109"
  },
  "id": "evKDAHdxoR5TrYoN",
  "tags": [
    {
      "name": "shopmate",
      "id": "Gkuy7rLuIsB6oSbv",
      "updatedAt": "2026-03-31T04:24:49.167Z",
      "createdAt": "2026-03-31T04:24:49.167Z"
    },
    {
      "name": "mornitoring",
      "id": "wExzwUOz4aKhPgRo",
      "updatedAt": "2026-03-31T04:24:49.029Z",
      "createdAt": "2026-03-31T04:24:49.029Z"
    }
  ]
}